# Copy this file to .env and fill in your own values

# Local MongoDB:
MONGO_URI=mongodb://127.0.0.1:27017/edigitalbooks

# OR MongoDB Atlas (cloud) example:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/edigitalbooks

PORT=5000
